
@{
    Layout = null;
}
@using Plugin.Test.Models;
@model Person
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Model.FullName / @Model.Age
    </p>
</body>
</html>
